@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* { 
    color: azure; 
    text-decoration: none;
}

html {
    overflow: hidden
}

body {
    background: #121212;
    font-family: 'IBM Plex Mono', monospace;
    color:azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* main {
    margin: auto;
} */

header {
    background-color: #12121200;
    padding: 10px;
    align-items: right;
    justify-content: right;
  }
  
nav {
text-align: center;
}

    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

    nav ul li {
    display: inline-block;
    margin-left: 10px;
    }

    nav ul li a {
    text-decoration: none;
    color: azure;
    }

#welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 17.8%;
}

#welcome-text {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

#welcome-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%; 
}

#welcome-profile-pic {
    margin-right: 20px; 
}

#welcome-description {
    width: 20%; 
}

#navbar {
    margin-top: 3%;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }

  .circle-image {
    border: 3px solid azure;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.circle-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}